<?xml version="1.0"?>
<launch>
  <arg name="bagfile" default="/home/nvidia/tanwei_tw360.bag"/>
  <arg name="bag_start" default="0.0"/>
  <arg name="bag_delay" default="2.0"/>
  <!-- 0.25x is a conservative default for the Jetson-class target. -->
  <arg name="bag_rate" default="0.25"/>
  <arg name="visualize" default="false"/>
  <arg name="map_path"
       default="results/tanwei_tw360_halo_outdoor_map.pcd"/>
  <arg name="publish_global_map" default="true"/>
  <arg name="save_map_on_shutdown" default="true"/>
  <arg name="metrics_output_path" default=""/>
  <arg name="diagnostic_output_directory"
       default="results/diagnostics/halo_outdoor"/>

  <include file="$(find onion_lo_plus)/launch/livox.launch">
    <arg name="config_file"
         value="$(find onion_lo_plus)/config/halo_outdoor.yaml"/>
    <arg name="bagfile" value="$(arg bagfile)"/>
    <arg name="bag_start" value="$(arg bag_start)"/>
    <arg name="bag_delay" value="$(arg bag_delay)"/>
    <arg name="bag_rate" value="$(arg bag_rate)"/>
    <arg name="visualize" value="$(arg visualize)"/>
    <arg name="localization_mode" value="false"/>
    <arg name="wait_for_initial_pose" value="false"/>
    <arg name="map_path" value="$(arg map_path)"/>
    <arg name="publish_global_map" value="$(arg publish_global_map)"/>
    <arg name="save_map_on_shutdown" value="$(arg save_map_on_shutdown)"/>
    <arg name="metrics_output_path" value="$(arg metrics_output_path)"/>
    <arg name="diagnostic_output_directory"
         value="$(arg diagnostic_output_directory)"/>
  </include>
</launch>
